/* src/App.css */
:root {
  justify-content: center;
  align-content: center;
  margin: 0px 25%;
  border-radius: 50%;
  background-image: url(/image.jpg);
  background-size: 100vw 100vh;
}

.App {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

body{
margin:0;
padding:0;
border:none;
}

form {
  display: flex;
  border:none;
  flex-direction: column;
  max-width: 500px;
  height:100%;
  margin-left:0px;
  text-align: start;
  border-radius: 50%;
}

input{
  height:16px;
  width:250px;
  
}

label {
  margin: 5px; 
  width:200px;
  display:inline-block;
  justify-content: start;
  align-self: start;
}

button {
  margin-top: 10%;
  margin-left:60%;
  margin-right:20%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  /* border-radius: 10%; */
}

button:hover {
  background-color: #0056b3;
}

h2{
  text-align: center;
  color:rgb(237, 245, 255);
}
 .new {
  color:rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  height:485px;
  max-width: 250px;
  margin-left:600px;
  margin-top:-474px;
  padding:0px 0px;
  justify-content: center;
  align-self: center;
  text-align: center; 
}

form {
  justify-content: start;
  background-color:rgb(136, 199, 251);
}

div{
  width:900px;
  background-color:rgb(136, 199, 251);
}

h1{
  text-align: center;
  color:rgb(238, 241, 245);
  margin-left:10px;
}
li{
  justify-content: center;
  align-self: center;
  text-align: center; 
  list-style-type:none;
}
